# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #microservice configs
    microservice_name: default

    #rabbitmq configs
    rabbitmq_host: localhost
    rabbitmq_port: 5672
    rabbitmq_user: 'guest'
    rabbitmq_password: 'guest'
    rabbitmq_vhost: '/'
    rabbitmq_lazy: false
    rabbitmq_connection_timeout: 3
    rabbitmq_read_write_timeout: 3
    rabbitmq_keepalive: false
    rabbitmq_heartbeat: 0
    rabbitmq_queuename_prefix: cmobi_
    rabbitmq_queuename_sufix: _queue
